/* icon library */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Koulen&display=swap');


body {
	background-color:#f00;
}


/* nav bar */

.nav-title {
	color: #FFF;
	text-align: center;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-family: Koulen;
	font-style: normal;
	font-weight: 400;
}

.nav-item {
	color: #FFF;
	font-family: Koulen;
	font-style: normal;
	font-weight: 400;
	filter: blur(0.4px);
}

.pill-bottle {
	width: 50px;
	height: 50px;
	flex-shrink: 0;
	filter: blur(0.4px);
}

/* homepage */

h1.display-1 {
	color: #000;
	font-family: Inter;
	text-align: center;
	font-weight: 425;
	letter-spacing: -3px;
}

h2.dd-heading {
	color: #000;
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	letter-spacing: 0px;
	font-size: calc(0.4em + 1.3vw);
	margin: 0;
}

.search-bar {
	border-radius: 50px;
	border-color: #000;
	border-width: 2px;
}

.search-button {
	border-radius: 25%;
}

.home-card{
	border-radius: 15px;
	box-shadow: 4px -4px 4px 0px rgba(0, 0, 0, 0.25), -4px 4px 4px 1px rgba(0, 0, 0, 0.25);
}

/* drug page */

h2 {
	color: #000;
	font-family: Inter;
	font-style: normal;
	font-weight: 1000;
	font-size: calc(0.5em + 2vw);

}

h3 {
	color: #000;
	font-family: Inter;
	font-style: normal;
	font-weight: 1000;
	font-size: calc(0.4em + 1.3vw);
	margin-bottom: 0;
}

h4 {
	color: #000;
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: calc(0.5em + 1vw);
	margin-bottom: 0.25em;
	
}

h4.blur {
	filter: blur(0.4px);
}

p.body-text {
	font-size: calc(0.5em + 0.75vw);
}

.drug-card{
	box-shadow: 4px -4px 4px 0px rgba(0, 0, 0, 0.25), -4px 4px 4px 1px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
}

.df-body {
	border-radius: 15px;
	border: 4px solid #000;
	background: rgba(217, 217, 217, 0.00);
	margin: 20px;
}

hr.drug-label {
	background: rgba(217, 217, 217, 0.00);
	margin: 0;
	opacity: 100%;
}

.accordion-button {
	padding: 4px;
	margin-top: 1rem;
}

.drug-accordion:not(.collapsed) {
	background-color: #FFF;
	box-shadow: none;
}

.drug-accordion:focus {
	box-shadow: none;
}

li.drug-bullet {
	font-size: calc(0.5em + 0.75vw);
	margin-left: 6px;
}

.badge {
	margin-right: 0.5em;
}

.collapse {
	overflow: auto;
}

.drug-dd {
	max-height: 25vh;
}
