@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
	background-color: #F00;
}

h2 {
	color: #000;
	font-family: Inter;
	font-style: normal;
	font-weight: 1000;
	font-size: calc(0.5em + 2vw);

}

h3 {
	color: #000;
	font-family: Inter;
	font-style: normal;
	font-weight: 1000;
	font-size: calc(0.4em + 1.3vw);
	margin-bottom: 0;
}

.nav-title {
	color: #FFF;
	text-align: center;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-family: Koulen;
	font-style: normal;
	font-weight: 400;
}

.nav-item {
	color: #FFF;
	font-family: Koulen;
	font-style: normal;
	font-weight: 400;
	filter: blur(0.4px);
}

.search-bar {
	border-radius: 50px;
}

.pill-bottle {
	width: 50px;
	height: 50px;
	flex-shrink: 0;
	filter: blur(0.4px);
}


.drug-card{
	border-radius: 30px;
	box-shadow: 4px -4px 4px 0px rgba(0, 0, 0, 0.25), -4px 4px 4px 1px rgba(0, 0, 0, 0.25);
}

.df-body {
	border-radius: 15px;
	border: 4px solid #000;
	background: rgba(217, 217, 217, 0.00);
	margin: 20px;
}

hr.drug-label {
	background: rgba(217, 217, 217, 0.00);
	margin: 0;
	opacity: 100%;
}

.accordion-button{
	padding: 4px;
	margin-top: 1rem;
}

.accordion-button:not(.collapsed){
	background-color: #FFF;
	box-shadow: none;
}

.accordion-button:focus{
	box-shadow: none;
}

